<template>
  <div>
      <FullCalendar
        style="background:white; padding:10px; border-radius:10px"
        :options="calendarOptions">
        </FullCalendar>
  </div>
</template>

<script>
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import interactionPlugin from '@fullcalendar/interaction'
import listPlugin from '@fullcalendar/list'
import CalendarAddEvent from './CalendarAddEvent.vue'
import api from "./../../instances/Interceptors";
export default { 
  components:{FullCalendar},
  props:{
    dataEvents:Array,
    zoomMeeting:Function,
    clientId:Number,
    handleToast:Function
  },
  data(){
    return{
      calendarOptions: {
        plugins: [ 
          dayGridPlugin,
          interactionPlugin,
          timeGridPlugin,
          listPlugin 
        ],
        headerToolbar: {
          left: "dayGridMonth",
          center: "title",
          right: "prev,next today",
        },
        buttonText: {
          today: "Aujourd'hui",
          month: "Mois",
          week: "Semaine",
          day: "Jour",
          list: "liste"
        },
        locale:"fr",
        initialView: "dayGridMonth",
        editable: true,
        selectable: true,
        selectMirror: true,
        droppable: false,
        dayMaxEvents: true,
        weekends: true,
        events: [],
        dateClick: this.handleDateClick,
        eventClick: this.deleteCalendarEvents,
      },
    }
  },
  beforeMount:function () {
    this.getCalendarEvents()
  },
  methods:{
    getCalendarEvents(){
      api.getEvents()
      .then((response) => {
        response.data.events.forEach(event => {
          this.calendarOptions.events.push({
            id:event.id,
            title:event.title,
            date:event.date,
            color:event.color,
            extendedProps:{
              clientId:event.clients_id,
              time:event.time,
              description:event.description,
            }
          })
        });
      })
      .catch((error) => console.log(error));
    },

    deleteCalendarEvents(event) {
      if (confirm(`Vous étes sur de supprimer l'événement '${event.event.title}'`)) {
        api.deletEvent(event.event.id)
        .then(response =>{
          if(!response.data.error){
            this.handleToast(response.data.message, "success")
            let findEvent = this.calendarOptions.events.findIndex((element) => element.id == event.event.id)
            this.calendarOptions.events.splice(findEvent,1);
          } else {
            this.handleToast(response.data.message, "error")
          }
        })
        .catch(error => {
          this.handleToast(error, "error")
        });
      }
    },

    addCalendarEvent(event){
      var dataEventEntry = new Map();
      dataEventEntry["clientId"] = this.clientId;
      dataEventEntry["title"] = event.title;
      dataEventEntry["date"] = event.date;
      dataEventEntry["time"] = event.time.hours+":"+event.time.minutes;
      dataEventEntry["color"] = event.color;
      api.addEvent(JSON.stringify(dataEventEntry))
      .then(response=>{
        if(!response.data.error){
          this.handleToast(response.data.message, "success")
          this.addDataEvent(response.data.event)
          this.zoomMeeting(response.data.event.date+" "+response.data.event.time)
        } else {
          this.handleToast(response.data.message, "error")
        }
      })
      .catch(error => {
          this.handleToast(error, "error")
      });
    },

    addDataEvent(dataEvent){
      this.calendarOptions.events.push({
        id:dataEvent.id,
        title:dataEvent.title,
        date:dataEvent.date,
        color:dataEvent.color,
        extendedProps:{
          clientId:null,
          clientName:null,
          time:dataEvent.time,
          description:null,
        }
      })
    },

    handleDateClick: function(clickInfo) {
      this.$modal.show(CalendarAddEvent,
        {
          eventDate:clickInfo.dateStr,
          update: this.addCalendarEvent
        },
        {
          width:"250px"
        }
      )
    },

  }
}
</script>

<style>

</style>