<template>
  <div class="modal-container-fluid" >
    <div class="mcf-wrapper">
      <div class="mcf-header">
        <div class="mcf-content">
          <h6 class="mcf-header-title">Créer un événement</h6>
          <font-awesome-icon class="mcf-header-icon" icon="calendar" />
        </div>
      </div>
      <div class="mcf-body">
        <div class="mcf-content">

          <input type="text" v-model="eventConf.title" class="mcf-text-input mb-3" placeholder="Titre de l'évenement">

          <div class="mcf-colors mb-3">
            <p class="mcf-title">Couleur : </p>
            <label class="mcf-label" for="color1" style="background:#f8361b">
              <input id="color1" v-model="eventConf.color" name="color" value="#f8361b" type="radio" class="mcf-color-input">
              <span class="mcf-input-tick">✓</span>
            </label>
            <label class="mcf-label" for="color2" style="background:#f97c1b">
              <input id="color2" v-model="eventConf.color" name="color" value="#f97c1b" type="radio" class="mcf-color-input">
              <span class="mcf-input-tick">✓</span>
            </label>
            <label class="mcf-label" for="color3" style="background:#fac81c">
              <input id="color3" v-model="eventConf.color" name="color" value="#fac81c" type="radio" class="mcf-color-input">
              <span class="mcf-input-tick">✓</span>
            </label>
            <label class="mcf-label" for="color4" style="background:#40d0b6">
              <input id="color4" v-model="eventConf.color" name="color" value="#40d0b6" type="radio" class="mcf-color-input">
              <span class="mcf-input-tick">✓</span>
            </label>
            <label class="mcf-label" for="color5" style="background:#2caef6">
              <input id="color5" v-model="eventConf.color" name="color" value="#2caef6" type="radio" class="mcf-color-input">
              <span class="mcf-input-tick">✓</span>
            </label>
            <label class="mcf-label" for="color6" style="background:#562bf7">
              <input id="color6" v-model="eventConf.color" name="color" value="#562bf7" type="radio" class="mcf-color-input">
              <span class="mcf-input-tick">✓</span>
            </label>
          </div>
          <div class="mcf-datetime">
            <p class="mcf-title mb-1">Date et heure :</p>
            <input type="text" v-model="eventDate" class="mcf-input-date mb-3" placeholder="Date (yyyy-mm-dd)">
            
            <div class="mcf-time">
              <input type="number" min="00" max="23" v-model="eventConf.time.hours" class="mcf-inputs mcf-input-hours" placeholder="Heurs">
              :
              <input type="number" min="00" max="59" v-model="eventConf.time.minutes" class="mcf-inputs mcf-input-minutes" placeholder="Minutes">
            </div>
          </div>
        </div>
      </div>
      <div class="mcf-footer">
        <div class="mcf-content">
          <button @click="$emit('close')" class="mcf-button mcf-btn-cls" type="button">Annuler</button>
          <button @click="create" class="mcf-button mcf-btn-crt" type="button">Créer</button>
        </div>
      </div>
    </div>
</div>
</template>

<script>
export default {
  props:{
      eventDate: String,
      update:Function,
  },
  data(){
    return{
      eventConf:{
        title:null,
        date:this.eventDate,
        color:"",
        time:{
          hours:null,
          minutes:null,
        },
      }
    }
  },
  methods:{
    create(){
      if(this.eventConf.title){
        if(this.eventConf.time.hours == null || this.eventConf.time.hours == ""){
        } else {
          (this.eventConf.time.minutes == null)?this.eventConf.time.minutes="00":(this.eventConf.time.minutes < 10)?this.eventConf.time.minutes="0"+this.eventConf.time.minutes:null;
          if(this.eventConf.time.hours < 10)this.eventConf.time.hours="0"+this.eventConf.time.hours;
          this.update(this.eventConf)
          this.$emit('close')
        }
      }
    },
  } 
}
</script>