<template>
  <div class="main-container white-bg">
    <div class="nav-container">
      <SideNavigation />
    </div>
    <div id="bodyUi" class="body-container" style="margin-left:10px;">
      <div class="container py-4">
        <table class="table table-striped table-bordered table-sm">
          <thead class="table-head" cellspacing="0" width="100%">
            <tr class="" style="text-align:center">
              <th class="" scope="col">ID</th>
              <th class="" scope="col">conseiller</th>
              <th class="" scope="col">Client</th>
              <th class="" scope="col">Numéro</th>
              <th class="" scope="col">Nom société</th>
              <th class="" scope="col">Numéro ENT</th>
              <th class="" scope="col">email</th>
              <th class="" scope="col">Éligible</th>
              <th class="" scope="col">Montant</th>
              <th class="" scope="col">Rendez-vous</th>
              <!-- <th class="" scope="col">Options</th> -->
            </tr>
          </thead>
          <tbody class="table-body">
            <tr class="" style="text-align:center" v-for="(item,index) in clientsData" :key="index">
              <th scope="row">{{item.id}}</th>
              <td>{{item.advisor}}</td>
              <td>{{item.client}}</td>
              <td>{{item.phone}}</td>
              <td>{{item.companyName}}</td>
              <td>{{item.companyPhone}}</td>
              <td>{{item.email}}</td>
              <td>{{item.eligible}}</td>
              <td>{{item.amount}}</td>
              <td>{{item.meeting}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import SideNavigation from "../components/SideNavigation";
import api from "../instances/Interceptors";
export default {
  components:{
    SideNavigation,
  },
  data(){
    return {
      clientsData:[]
    }
  },
  beforeCreate:function() {  
    
  },
  created:function () {  

  },
  mounted:function () {  
    api.getClientsData()
    .then(response=>{
      if(!response.data.error){
        response.data.clients.forEach(element => {
          this.clientsData.push(
            {
              id:element.id,
              advisor:element.conseiller.first_name+" "+element.conseiller.last_name,
              client:element.client.first_name+" "+element.client.last_name,
              phone:element.num_perso,
              companyName:element.societe,
              companyPhone:element.num_ent,
              email:element.email,
              eligible:element.eligible,
              amount:element.montant+" €",
              meeting:element.meeting,
            })
        });
      }
    })
    .catch(error=>console.log(error));
  },
  beforeUpdate:function(){

  }
}
</script>

<style>

</style>