<template>
  <div class="main-container blue-bg">
    <div class="body-container">
      <div class="container">
        <div class="home-wrapper d-flex flex-column justify-content-center py-4">
          <div class="row g-0 justify-content-center">
            <div class="col-md-6">
              <div class="login-form container-fluid bg-white p-3 rounded-3 shadow">
                <div class="row g-0 align-items-center justify-content-center">
                  <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <img style="width:100%;max-width: 300px;" src="public/img/cpn-250.png" alt="cpn-250.png">
                  </div>

                  <div v-if="isloginForm == true" class="col-md-8">
                    <form @submit.prevent action="#">
                      <div class="row g-0 justify-content-center">
                        <div class="col-md-12 mb-3">
                          <h3 style="font-weight:600;margin:0">Connecter a votre compte</h3>
                        </div>
                        <div class="col-md-12 mb-3">
                          <label for="email">Email :</label>
                          <input type="email" v-model="formData.email" name="email" id="email" class="form-control" placeholder="Johndoe@mail.com" autocomplete="email">
                        </div>
                        <div class="col-md-12 mb-3">
                          <label for="password">Mot de passe :</label>
                          <input type="password" v-model="formData.password" name="password" id="password" class="form-control" placeholder="********" autocomplete="new-password">
                        </div>
                        <div class="col-md-12 mb-3">
                          <button @click="checkLogin" id="signin" style="background: red; border-color: red; box-shadow: none;" class="btn btn-primary">Se connecter</button>
                        </div>
                        <div class="col-md-auto">
                          <h3 @click="changingForm" style="font-size: 15px; margin:0; cursor:pointer">Créer un compte</h3>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div v-if="isloginForm == false" class="col-md-8">
                    <form @submit.prevent action="#">
                      <div class="row g-0 justify-content-center">
                        <div class="col-md-12 mb-3">
                          <h3 style="font-weight:600;margin:0">Créer un compte</h3>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="row g-3">
                            <div class="col-md-6">
                              <label for="fisrtname">Nom :</label>
                              <input type="email" v-model="formData.firstname" name="fisrtname" id="fisrtname" class="form-control" placeholder="John">
                            </div>
                            <div class="col-md-6">
                              <label for="lastname">Prénom :</label>
                              <input type="email" v-model="formData.lastname" name="lastname" id="lastname" class="form-control" placeholder="Doe">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <label for="email">Email :</label>
                          <input type="email" v-model="formData.email" name="email" id="email" class="form-control" placeholder="Johndoe@mail.com" autocomplete="email">
                        </div>
                        <div class="col-md-12 mb-3">
                          <label for="password">Mot de passe :</label>
                          <input type="password" v-model="formData.password" name="password" id="password" class="form-control" placeholder="********" autocomplete="new-password">
                        </div>
                        <div class="col-md-12 mb-3">
                          <button @click="createAccount" id="signup" style="background: red; border-color: red; box-shadow: none;" class="btn btn-primary">S'enregistrer</button>
                        </div>
                        <div class="col-md-auto">
                          <h3 @click="changingForm" style="font-size: 15px; margin:0; cursor:pointer">Connexion</h3>
                        </div>
                      </div>
                    </form>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</template>

<script>
import api from "../instances/Interceptors";
export default {
  data(){
    return{
      formData:{
        firstname:null,
        lastname:null,
        email:null,
        password:null,
      },
      isloginForm:true,
    }
  },
  methods:{
    changingForm (){
      this.isloginForm =! this.isloginForm;
    },

    checkLogin(){
      document.getElementById("signin").disabled = true;
      var that = this;
      api.signin({email: this.formData.email, password: this.formData.password})
      .then((response) => {
        if(response.data.error){
          console.log(response.data)
          this.toastHandler(response.data.message,"error")
          document.getElementById("signin").disabled = false;
        }
        else {
          console.log(response.data);
          localStorage.setItem("token",response.data.data.token);
          localStorage.setItem("email",response.data.data.email);
          localStorage.setItem("first_name",response.data.data.first_name);
          localStorage.setItem("last_name",response.data.data.last_name);
          document.getElementById("signin").disabled = false;
          that.$router.push({ name: 'eligibility' });
        }
      })
      .catch((error) =>{
         console.log(error);
         document.getElementById("signin").disabled = false;
      });
    },

    createAccount(){
      document.getElementById("signup").disabled = true;
      api.signup(JSON.stringify(this.formData))
      .then((response)=>{
        if(!response.data.error){
          console.log(response.data)
          this.toastHandler(response.data.message,"success");
          document.getElementById("signup").disabled = false;
          this.changingForm();
        } else {
          console.log(response.data)
          document.getElementById("signup").disabled = false;
          this.toastHandler(response.data.message,"error");
        }
      })
      .catch((error)=>{
        console.log(error);
        document.getElementById("signup").disabled = false;
      });
    },

    toastHandler(message,type){
      this.$toast.open({
        message: message,
        type: type,
        duration: 5000,
        position: "bottom",
        dismissible: true,
        
      })
    }
  }
}
</script>

<style>

</style>