<template>
  <div class="deball" id="deballBox">

  </div>
</template>

<script>
export default {
  data(){
    return{

    }
  },
  methods:{
    deballHandler(){
      if(localStorage.getItem("deball") == "true"){
        var deballBox = document.getElementById("deballBox");
        deballBox.style.marginRight = 0;
      }
    }
  },
  mounted:function(){
    this.deballHandler()
  },
}
</script>

<style>

</style>